body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    border: solid 1px black;
}

.main {
    grid-area: main;
    border: solid 1px black;
}

.footer {
    display: flex;
    grid-area: footer;
    background-color: dimgray;
    color: white;
    justify-content: center;
    align-items: center;
}

.grid_container {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 15% auto;
    grid-auto-rows: 50px auto 50px;
    min-height: 100vh;
}