body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: first baseline;
    align-items: center;
}

.header img {
    width: 120px;
    padding-left: 15px ;
}

.header h1 {
    padding-left: 30px;
    font-weight: 300;
}

.sidebar {
    grid-area: sidebar;
    background-color: #272c30;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
    gap: 30px 0;
    padding: 30px 0;
}

.footer {
    display: flex;
    grid-area: footer;
    background-color: #05141f;
    color: white;
    justify-content: center;
    align-items: center;
}

.grid_container {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: minmax(130px, 150px) minmax(670px, auto);
    grid-auto-rows: auto auto 50px;
}

.categories {
    display: flex;
    gap: 5px;
}

.cat_q {
    opacity: 0.6;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    max-width: 400px;
}

.card_info {
    display: flex;
    flex-direction: column;
}

.card_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
}

.card_title h3 {
    font-size: x-large;
}

.card_title p {
    font-size: larger;
    color: red;
}

.card_description {
    display: flex;
    justify-content: space-evenly;
}

.card_description_item {
    display: flex;
    align-items: center;
}

.card_description_item img {
    width: 24px;
    height: 24px;
}

.card_description_item p {
    padding-left: 5px;
    margin: 0;
}

.card_price {

}

.card h2 {
    text-align: center;
    font-size: xx-large;
}

.card_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #272c30;
    height: 50px;
}

.card_button p {
    margin: 0;
    font-weight: 400;
    font-size: larger;
    letter-spacing: 2px;
}