body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #272c30;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10px;
}

.main {
    grid-area: main;
    border: solid 1px black;
}

.footer {
    display: flex;
    grid-area: footer;
    background-color: #05141f;
    color: white;
    justify-content: center;
    align-items: center;
}

.grid_container {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: minmax(130px, 150px) minmax(670px, auto);
    grid-auto-rows: 50px auto 50px;
    min-height: 100vh;
}

.categories {
    display: flex;
    gap: 5px;
}

.cat_q {
    opacity: 0.6;
}