.header {
    grid-area: header;
    border: solid 1px black;
}

.sidebar {
    grid-area: sidebar;
    border: solid 1px black;
}

.main {
    grid-area: main;
    border: solid 1px black;
}

.footer {
    grid-area: footer;
    border: solid 1px black;
}

.grid_container {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 15% auto;
}